// Dark Theme
// Author: Mika Vesasto

// Variables
// You can use default Linkedin root colors also
:root {
    --main-bg-color: #121212;
    --main-bg-color--tinted: #121218;
    --main-surface-color: #222831;
    --main-surface-color--light: rgba(255, 255, 255, 0.9);
    --main-surface-color--light-muted: rgba(255, 255, 255, 0.6);
    --main-surface-color--tinted: #1e2735;
    --main-txt-color: rgba(255, 255, 255, 0.9);
    --helper-txt-color: rgba(255, 255, 255, 0.6);
    --icon-color: rgba(255, 255, 255, 0.6);
}

// Import selector files.
@import "../base/base.scss";
@import "../base/search.scss";
@import "../base/buttons.scss";
@import "../base/helpers.scss";
@import "../base/typography.scss";
@import "../base/navigation.scss";
@import "../base/image-viewer.scss";
@import "../base/left-sidebar.scss";
@import "../pages/chat.scss";
@import "../pages/jobs.scss";
@import "../pages/profile.scss";
@import "../pages/learning.scss";
@import "../pages/settings.scss";
@import "../pages/messaging.scss";
@import "../pages/notifications.scss";
@import "../pages/article-publish.scss";
